@font-face {
    font-family: 'Unique';
    src:url('unique.ttf');
}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #FFFFFF;
    text-align: center;
}

header {
    background-color: #000;
    padding: 20px;
    border-bottom: 1px solid #004400;
}

header h1 {
    font-size: 2em;
    margin: 0;
    color: #FFFFFF; 
    font-family: 'Unique'; 
    text-shadow: 0px 0px 10px #00FF00; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mirrors {
    background-color: #000; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2); 
}

.mirror-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mirror {
    background-color: #004400; 
    padding: 10px 20px;
    border: 2px solid #00FF00; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.7em;
    color: #FFFFFF; 
    font-family: 'typewriter'; 
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.4);
    transition: all 0.2s ease-in-out;
    margin: 10px;
}


.mirror:hover {
    background-color: #006600; 
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.6); 
    transform: scale(1.1); 
}

.hpmirror {
    background-color: #421653; 
    padding: 10px 20px;
    border: 2px solid #f700ff; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em;
    color: #FFFFFF; 
    font-family: 'typewriter'; 
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2), 0 0 20px rgba(0, 255, 0, 0.4);
    transition: all 0.2s ease-in-out;
    margin: 25px;
}


.hpmirror:hover {
    background-color: #79289a; 
    box-shadow: 0 0 15px rgba(255, 0, 251, 0.5), 0 0 30px rgba(0, 255, 0, 0.6); 
    transform: scale(1.25); 
}

.eaglercraft {
    margin-top: 20px;
}

.eaglercraft-btn {
    background-color: #660033;
    padding: 10px 20px;
    border: 2px solid #FF0000; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #FFFFFF; 
    font-family: 'minecraft';
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2), 0 0 20px rgba(255, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}

.eaglercraft-btn:hover {
    background-color: #7F0033;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.6);
    transform: scale(1.1);
}


.discord {
    margin-top: 20px;
}

.discord-btn {
    background-color: #000066;
    padding: 10px 20px;
    border: 2px solid #0000FF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #FFFFFF;
    font-family: 'ussb';
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2), 0 0 20px rgba(0, 0, 255, 0.4);
    transition: all 0.2s ease-in-out;
}

.discord-btn:hover {
    background-color: #000077;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5), 0 0 30px rgba(0, 0, 255, 0.6);
    transform: scale(1.1);
}

.bypasses {
    margin-top: 20px;
}

.bypass {
    background-color: #404040f8; 
    padding: 10px 20px;
    border: 2px solid #b9b9b9; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.15em;
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2); 
    transition: all 0.2s ease-in-out;
    margin: 5px;
    font-family: 'typewriter';
}

.bypass:hover {
    background-color: #404040f8;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.4); 
    transform: scale(1.1); 
}

.announcements {
    margin-top: 20px;
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.2);
}

.announcements h2 {
    margin-top: 0;
    color: #FFFFFF;
}

.announcements ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.announcements li {
    padding: 10px;
    border-bottom: 1px solid #004400;
}

.announcements li:last-child {
    border-bottom: none;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
    .mirror-list {
        flex-direction: column;
    }
    .mirror {
        margin: 10px 0;
    }
}
@font-face {
    font-family: 'typewriter';
    src:url('typewriter.ttf');
}

@font-face {
    font-family: 'minecraft';
    src:url('minecraft.ttf');
}

@font-face {
    font-family: 'bandits';
    src:url('bandits.ttf');
}

.donate-btn {
    background-color: #000066;
    padding: 10px 20px;
    border: 2px solid #0000FF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #FFFFFF;
    font-family: 'ussb';
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2), 0 0 20px rgba(0, 0, 255, 0.4);
    transition: all 0.2s ease-in-out;
}


.donate-btn:hover {
    background-color: #000077;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5), 0 0 30px rgba(0, 0, 255);
    transform: scale(1.1);
}
